<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="true">
    <remap from="cmd_vel" to="/cmd_vel_nav_raw"/>
    <rosparam file="$(find ackermann_vehicle_navigation)/config/move_base/move_base.yaml" command="load"/>
    <rosparam file="$(find ackermann_vehicle_navigation)/config/move_base/teb_local_planner.yaml" command="load"/>
    <rosparam ns="global_costmap" file="$(find ackermann_vehicle_navigation)/config/move_base/costmap_common.yaml" command="load"/>
    <rosparam ns="global_costmap" file="$(find ackermann_vehicle_navigation)/config/move_base/global_costmap.yaml" command="load"/>
    <rosparam ns="local_costmap" file="$(find ackermann_vehicle_navigation)/config/move_base/costmap_common.yaml" command="load"/>
    <rosparam ns="local_costmap" file="$(find ackermann_vehicle_navigation)/config/move_base/local_costmap.yaml" command="load"/>
  </node>
</launch>
